@model Location

@{
    ViewData["Title"] = "Detail";
}

<body>
    <div class="image-details-container">
        <img src="~/images/@(Model.Photo).jpg" alt="Description Image" class="detail-image"/>
        <div class="details">
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
            <p>@Model.Address, @Model.Street</p>
            <p>@(Model.City), @Model.State @Model.Zip</p>
            @foreach (var cat in Model.Categories)
            {
                @if (cat == "bars")
                {
                    <i class="fas fa-beer"></i>

                }
                else if (cat == "restaurants")
                {
                    <i class="fas fa-utensils"></i>

                }
                else if (cat == "parks")
                {
                    <i class="fas fa-tree"></i>

                }
                else if (cat == "sports")
                {
                    <i class="fas fa-football-ball"></i>

                }
                else if (cat == "historical")
                {
                    <i class="fas fa-monument"></i>

                }
                else if (cat == "activities")
                {
                    <i class="fas fa-swimmer"></i>

                }
                else if (cat == "shopping")
                {
                    <i class="fas fa-shopping-bag"></i>

                }
                else if (cat == "arts & culture")
                {
                    <i class="fas fa-theater-masks"></i>

                }
                <p>@cat</p>
            }
            <div class="directions-button">Get Directions</div>
        </div>
    </div>
</body>