@model Location

@{
    ViewData["Title"] = "Detail";
}

<body class="detail">
    <div class="image-details-container">
        <img src="~/images/@(Model.Photo).jpg" alt="Description Image" class="detail-image" />
        <div class="details">
            <div class="name-container">
                <h2 class="detail-name">@Model.Name</h2>
                <div class="detail-checkin">
                    @if (@Model.DistanceFromUser <= 0.05)
                    {
                        <form asp-controller="location" asp-action="checkin">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button id="check-in-button" type="submit">Check In</button>
                        </form>
                    }
                </div>
            </div>
            <p>@Model.Description</p>
            <p>@Model.Address, @Model.Street</p>
            <p>@(Model.City), @Model.State @Model.Zip</p>
            <p id="lat" class="latent">@Model.Latitude</p>
            <p id="lng" class="latent">@Model.Longitude</p>
            @foreach (var cat in Model.Categories)
            {
                @if (cat == "bars")
                {
                    <i class="fas fa-beer"></i>

                }
                else if (cat == "restaurants")
                {
                    <i class="fas fa-utensils"></i>

                }
                else if (cat == "parks")
                {
                    <i class="fas fa-tree"></i>

                }
                else if (cat == "sports")
                {
                    <i class="fas fa-football-ball"></i>

                }
                else if (cat == "historical")
                {
                    <i class="fas fa-monument"></i>

                }
                else if (cat == "activities")
                {
                    <i class="fas fa-swimmer"></i>

                }
                else if (cat == "shopping")
                {
                    <i class="fas fa-shopping-bag"></i>

                }
                else if (cat == "artsculture")
                {
                    <i class="fas fa-theater-masks"></i>

                }
                else if (cat == "photoops")
                {
                    <i class="fas fa-camera-retro"></i>

                }
                @*<p class="detail-cats">@cat</p>*@
            }
            <br />
            <div class="directions-button">Get Directions</div>
        </div>
    </div>

    <div class="directions-container">
        <div id="directions-map" class="latent directions-map"></div>
        <div id="directions-route" class="latent"></div>
    </div>
    @*<script src="https://maps.googleapis.com/maps/api/js?key="
            async defer></script>*@

</body>

@section Scripts {
    <script>
        var locationSerialized = @JavaScriptConvert.SerializeObject(Model);
    </script>
    <script src="~/js/detail.js">

    </script>

}